<body>
    <!-- Start Header Area -->
    <header class="default-header">
        <div class="menutop-wrap">
            <div class="menu-top container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="list">
                        <li><a href="tel:+12312-3-1209">+123456789</a></li>
                        <li><a href="mailto:support@colorlib.com">ahihi@email.com</a></li>
                    </ul>
                    <!-- Search -->
                    <div class="header-search">
                        <form>
                            <input class="input search-input" type="text" placeholder="Enter your keyword"
                                style="height: 40px;">
                            <select class="input search-categories">
                                <option value="0">All Categories</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select>
                            <button class="search-btn" style="width: 40px;height: 40px"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /Search -->
                    <ul class="list">
                        <!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
							</div>
							<a href="#" class="text-uppercase">Login</a> / <a href="#" class="text-uppercase">Join</a>
							<ul class="custom-menu">
								<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
								<li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
								<li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>
								<li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>
							</ul>
						</li>
						<!-- /Account -->
                        <li><a href="cart"><span class="lnr lnr-cart"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a href="/">Trang Chủ</a></li>
                        <li><a href="category">Danh mục sản phẩm</a></li>
                        <li><a href="cart">Giỏ hàng</a></li>
                        <li><a href="checkout">Thanh Toán</a></li>
                        <!-- Dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Pages
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="category">Danh mục sản phẩm</a>
                                <a class="dropdown-item" href="cart">Giỏ hàng</a>
                                <a class="dropdown-item" href="checkout">Thanh toán</a>
                                <a class="dropdown-item" href="confermation.html">Confermation</a>
                                <a class="dropdown-item" href="login">Đăng nhập</a>
                                <a class="dropdown-item" href="tracking.html">Tracking</a>
                                <a class="dropdown-item" href="generic.html">Generic</a>
                                <a class="dropdown-item" href="elements.html">Elements</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header Area -->
    <p>Họ và tên</p>
    </body>