<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <!-- CSS	============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">{{title}}</h4>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <h3>Thời trang nữ</h3>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l5.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy xanh</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l6.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy xám</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l7.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy đen</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l8.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Áo sơ mi caro</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l6.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy xám</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l8.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Áo sơ mi caro</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l5.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy xanh</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l7.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy đen</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l8.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Áo sơ mi caro</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l5.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy xanh</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l6.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Váy xám</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 single-product">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="img/l8.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <div class="bottom d-flex align-items-center justify-content-center">
                                    <a href="chinhsuaSP"><span class="lnr lnr-pencil"></span></a>
                                    <a href="chinhsuaSP"><span class="lnr lnr-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <h5>Áo sơ mi caro</h5>
                            <h3>$150.00</h3>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</body>