<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">{{title}}</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Top sản phẩm -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin gian hàng</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Tên
                                            gian hàng</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname" value="ABC">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname1" class="col-sm-3 text-right control-label col-form-label">Tên
                                            người quản lý</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname1" value="Nguyễn Văn A">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname2" class="col-sm-3 text-right control-label col-form-label">Tài
                                            khoản người quản lý</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname2" value="nhatpham99">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ns1" class="col-sm-3 text-right control-label col-form-label">Loại
                                            hàng kinh doanh</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ns1" value="Đồ điện tử">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaGH'">Chỉnh sửa</button>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaGH'">Xóa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End  -->
            <!-- ============================================================== -->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin gian hàng</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Tên
                                            gian hàng</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname" value="ABC">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname1" class="col-sm-3 text-right control-label col-form-label">Tên
                                            người quản lý</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname1" value="Nguyễn Văn A">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname2" class="col-sm-3 text-right control-label col-form-label">Tài
                                            khoản người quản lý</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname2" value="nhatpham99">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ns1" class="col-sm-3 text-right control-label col-form-label">Loại
                                            hàng kinh doanh</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ns1" value="Đồ điện tử">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaGH'">Chỉnh sửa</button>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaGH'">Xóa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End  -->
            <!-- ============================================================== -->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin gian hàng</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Tên
                                            gian hàng</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname" value="ABC">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname1" class="col-sm-3 text-right control-label col-form-label">Tên
                                            người quản lý</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname1" value="Nguyễn Văn A">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname2" class="col-sm-3 text-right control-label col-form-label">Tài
                                            khoản người quản lý</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname2" value="nhatpham99">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ns1" class="col-sm-3 text-right control-label col-form-label">Loại
                                            hàng kinh doanh</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ns1" value="Đồ điện tử">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaGH'">Chỉnh sửa</button>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaGH'">Xóa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End  -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</body>