<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">{{title}}</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Top sản phẩm -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chỉnh sửa thông tin người dùng</h5>
                            <form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin người dùng</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Họ
                                            và tên người dùng</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname" value="Phạm Minh Nhật">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Tên
                                            tài khoản</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname" value="phamminhnhat99">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Mật
                                            khẩu</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="lname" value="123456789">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email1"
                                            class="col-sm-3 text-right control-label col-form-label">Ngày tháng năm
                                            sinh</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ns1" value="01/02/1999">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-right control-label col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="email1"
                                                value="nhat99@gmail.com">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Số
                                            điện thoại</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="cono1" value="0912365491">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Địa
                                            chỉ</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="cono2"
                                                value="Quận 5, TP Hồ Chí Minh">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='qlnguoidung'">Xác nhận</button>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='suathongtin'">Đặt lại</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

</body>