<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">{{title}}</h4>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Top sản phẩm -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Thêm sản phẩm</h5>
                            <form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin sản phẩm</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Tên
                                            sản phẩm</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname"
                                                placeholder="Ten san pham">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname1" class="col-sm-3 text-right control-label col-form-label">Đơn
                                            giá</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname1" placeholder="Don gia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname2"
                                            class="col-sm-3 text-right control-label col-form-label">Thương hiệu</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lname2"
                                                placeholder="Thuong hieu">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email1"
                                            class="col-sm-3 text-right control-label col-form-label">Gian hàng
                                            bán</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ns1"
                                                placeholder="Ten gian hang">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            <input type="file" class="custom-file-input" id="ns1">
                                            <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-secondary"
                                            onclick="location.href='chinhsuaSP'">Thêm sản phẩm</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
</body>